@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pokemon Solid', sans-serif;
    font-weight: 500;
    src: url('https://fonts.cdnfonts.com/css/pokemon-solid');
}


.roca{
    color: #7c7769;
}

.hielo{
    color:#5abeae;
} 
        
.bicho{
    color: #2ecc71;
} 
        
.electrico{
    color: #f4d03f;

    /* color: #f4cf39; */
} 

.hada{
    color:  #FA8072;
    /* color: #eb8fe8; */
} 

.siniestro{
    color: #131214;
}

.lucha{
    color:  #c92c1a;
    /* color: #cd3d69; */
}

.fuego{
    color:  #e67e22;
    /* color:#fe9951; */
}

.volador{
    color: #87a0d8;
}

.fantasma{
    color: #aa6aaa;
    /* color: #5269ab; */
}
        
.planta{
    color: #229954 ;
}

.veneno{
    color:  #8e44ad;
    /* color: #ab69c7; */
}

.psiquico{
    color: #f87076;
}
        
.acero{
    color: #717475;
}

.agua{
    color:   #2980b9 ;
    /* color: #4d8fd4; */
}

.dragon{
    color: #096cc3;
}

.tierra{
    color: #a83e08;
} 

.normal{
    color: #8d969f;
}